/* index */

.indexgrid {
  display: grid;
  width: 800px;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  margin: 0 auto;
}

.indeximage {
  height: 150px;
  object-fit: cover;
}


.bigheader {
  margin: 20px;
  border-style: solid;
  padding: 40px;
  background-color: white;
  width: 800px;
}

.homebody {
 background-image: url(./assets/cat_tinder_disney.png);
 background-repeat: no-repeat;
  background-size: 800px 450px;
  height:450px;
  border-style: solid;
  border-color: white;
}

.homebutton {
  width: 200px;
  margin: 5px;
}

.homebuttons{
  margin-left: 280px;
  margin-top: 200px;
}

.indexframe {
  text-align: center;
  background-color: lightseagreen
}

.indexcard {
  margin: 5px
}

Card {
  width: 200px;
}

/* profile */


.profilepic {
  margin-left: 20px;
  border-style: solid;
  border-radius: 500px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.bigname {
  font-size: 100px;
}

.picgrid {
  display: grid;

  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  padding: 20px;
}

.bio {
  text-align: center;
}



/* form */
Form {
  width:80%;
  margin: 20px;
}